.button {
  font-family: inherit;
  appearance: none;
  border: none;
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--main-dark-color);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.icon {
  min-width: initial;
  text-align: center;
  width: 40px;
  height: 40px;
}

.circle {
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 0;
}

.circle:hover {
  background-color: var(--white-color);
}

.button svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: 0.3s ease-out;
}

.circle:hover svg {
  fill: var(--red-color);
}
