.thumb {
  position: relative;
  margin: 0;
  padding-top: calc((1 / (var(--aspect-ration))) * 100%);
}

@supports (aspect-ratio: 1) {
  .thumb {
    aspect-ratio: var(--aspect-ration);
    padding-top: initial;
  }
}

.thumb img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
