.header {
    display: flex;
    padding: 16px;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }

.header > * + * {
  margin-left: 5px;
}

.header button {
  margin-left: auto;
}
