.wrap {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.title,
.subtitle,
.overline {
  margin: 0;
}

.title,
.subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--main-dark-color);
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.title {
  font-size: 1rem;
  text-transform: capitalize;
}

.subtitle {
  font-weight: normal;
  color: var(--dark-gray-color);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.overline {
  font-size: 0.9rem;
}

.overline:empty {
  display: none;
}

.priceWrap {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  word-break: break-word;
}

.priceBox,
.label {
  align-self: flex-end;
}

.label {
  color: var(--gray-color);
}

.price,
.oldPrice,
.overline {
  text-align: right;
}

.oldPrice {
  font-size: 0.8rem;
  color: var(--red-color);
  text-decoration: line-through;
}

.price {
  font-weight: 700;
}
