.contentWrapper {
  max-width: 1060px;
  margin: auto;
}

.section-title {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

@media screen and (min-width: 400px) {
  .contentWrapper {
    padding: 1rem;
  }
}
